{% extends 'base/base.html' %}

{% block title %}
    <title>Services</title>
{% endblock title %}

{% block user-content %}
    <h3 class="container newclass">Services -</h3>

    <div class="container">
        <ul>
            <li>24 hours of reception.</li>
            <li>Best location in city.</li>
            <li>Always helpful hostel staff with current information.</li>
            <li>Free WI-FI in lobby.</li>
            <li>Taxes are included.</li>
            <li>Washing machine and dryer are available.</li>
            <li>celling fans are available in each room.</li>
            <li>AC rooms facility also available.</li>
            <li>No curfew, no lockout, no worries.</li>
        </ul>
    </div>
{% endblock user-content %}

{% block homepage-content %}
{% endblock homepage-content %}