{% extends 'base/base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block homenav %}
{% endblock homenav %}

{% block user-content %}
    <div id="header">
        <div class="newclass navbar navbar-dark bg-dark">
            <h4 class="navbar-brand">HOSTEL MANAGEMENT SYSTEM</h4>
        </div>
    </div>

    <!-- Container -->

    <div class="newclass breadcrumbs">
        <a href="/admin/">Home</a>
        &rsaquo; Password Reset Complete
        <hr>
    </div>

    <p class="newclass">Your password has been changed.
        <br><br>
        Login from <a href="{% url 'login_page' %}" class="password-reset-link">here</a></p>

{% endblock user-content %}


{% block homepage-content %}
{% endblock homepage-content %}