{% extends 'base/base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block homenav %}
{% endblock homenav %}

{% block user-content %}
    <div id="header">
        <div class="newclass navbar navbar-dark bg-dark">
            <h4 class="navbar-brand">HOSTEL MANAGEMENT SYSTEM</h4>
        </div>
    </div>

    <!-- Container -->
    <div class="newclass breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        &rsaquo; Password Reset Confirmation
        <hr>
    </div>

    <!-- Content -->
    <div class="newclass colM">
        <h3>Enter New Password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" class="btn btn-primary" value="Change my password">
        </form>
        <br class="clear">
    </div>
    <!-- END Content -->
{% endblock user-content %}


{% block homepage-content %}
{% endblock homepage-content %}