{% extends 'base/base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block homenav %}
{% endblock homenav %}

{% block user-content %}
    <div id="header">
        <div class="newclass navbar navbar-dark bg-dark">
            <h4 class="navbar-brand">HOSTEL MANAGEMENT SYSTEM</h4>
        </div>
    </div>

    <div class="newclass breadcrumbs">
        <a href="{% url 'homepage' %}">Home</a>
        &rsaquo; Password Reset
        <hr>
    </div>
    <!-- Content -->

    <div class="newclass colM">
        <h3>Password Reset</h3>
        <br>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
            one.</p>
        <br>
        <fieldset class="module aligned">
            <div class="form-row field-email">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Reset my password">
                </form>
            </div>
        </fieldset>

        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
    </div>
    <!-- END Container -->

{% endblock user-content %}


{% block homepage-content %}
{% endblock homepage-content %}
