{% extends 'admin/AdminBase.html' %}

{% block title %}
    <title>Requests</title>
{% endblock title %}


{% block content %}

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                      method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" name="search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Requests</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Requesting Student Details</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Roll No.</th>
                                    <th>Course</th>
                                    <th>Contact No.</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in requests %}
                                    <tr>
                                        <td>{{ user.user.first_name }}{{ " " }}{{ user.user.last_name }}</td>
                                        <td>{{ user.roll_no }}</td>
                                        <td>{{ user.course }}</td>
                                        <td>{{ user.contact_no }}</td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="{% url 'allocation_page' user.user.id %}">Allot</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger"
                                               href="{% url 'application_reject' user.user.id %}">Reject</a>
                                        </td>
                                    </tr>
                                {% endfor requests %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>

{% endblock content %}